In [15]:

import random
import pandas 
from faker import Faker

fake=Faker()
rows=[13,13,13,83,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,171,8,5,250,175,40,69,240,240,240,36,240,110,256,256,256,240,256,256,256,256,256,256,240,240,240,171,2,171,240,171,241,171,241,240,142,240,240,240,240,250,240,250,115,240,314,250,2,240,243,243,240,147,243,240,240,243,240,240,240,250,240,240,240,240,171,71,240,171,240,71,171,40,115,240,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,10,8,9,9,89,8,7,89,7,7,7,7,9,9,7,9,9,7,9,9,9,8,9,9,9,7,7,9,7,9,9,9,9,9,15,7,8,7,9,7,7,9,7,7,7,7,7,7,9,7,8,8,8,8,9,9,9,8,7,9,10,7,9,9,9,7,8,9,8,9,7,9,8,8,10,8,9,9,8,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,28,28,83,83,83,83,13,13,13,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,20,20,20,20,20,20,20,20,20,3,3,6,6,6,6,6,6,6,6,6,6,6,4,4,6,4,4,4,4,6,6,6,6,6,6,6,6,6,6,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,6,6,6,6,6,6,6,6,6,6,6,6,14,14,14,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,74,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,74,74,74,74,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,7,7,9,15,15,9,9,7,9,9,9,7,7,7,9,7,8,9,9,9,7,9,7,11,11,15,15,7,7,7,7,9,9,9,7,7,7,7,10,10,9,7,7,7,7,7,7,9,9,9,7,9,9,7,9,8,7,9,7,7,9,7,9,7,8,9,7,9,8,9,9,9,9,9,8,9,7,9,9,9,9] 
# images
def generate_photo():
 gender=random.choice(['men','women'])
 image_id=random.randit(1,100)
 return f"https://randomuser.me/api/gender/{gender}/{image_id}.jpg"

In [5]:
import pandas as pd
from faker import Faker
import random

fake = Faker()

def generate_photo():
    gender = random.choice(['men', 'women'])
    image_id = random.randint(0, 99)
    return f"https://randomuser.me/api/portraits/{gender}/{image_id}.jpg"

data = []
for _ in range(10001):  # generate 10 rows
    data.append({
        "Name": fake.name(),
        "Email": fake.email(),
        "Phone": fake.phone_number(),
        "Photo": generate_photo()
    })
    

df = pd.DataFrame(data)
df.to_csv(r"C:\Users\sonip\OneDrive\Desktop\sql\fake_users.csv", index=False)
print("printed")

printed

In [2]:
pip install Faker

Requirement already satisfied: Faker in c:\users\sonip\anaconda3\lib\site-packages (37.5.3)
Requirement already satisfied: tzdata in c:\users\sonip\anaconda3\lib\site-packages (from Faker) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import random
import pandas as pd
from faker import Faker

# Initialize faker
fake = Faker()

# Your given list
 rows=[13,13,13,83,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,171,8,5,250,175,40,69,240,240,240,36,240,110,256,256,256,240,256,256,256,256,256,256,240,240,240,171,2,171,240,171,241,171,241,240,142,240,240,240,240,250,240,250,115,240,314,250,2,240,243,243,240,147,243,240,240,243,240,240,240,250,240,240,240,240,171,71,240,171,240,71,171,40,115,240,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,10,8,9,9,89,8,7,89,7,7,7,7,9,9,7,9,9,7,9,9,9,8,9,9,9,7,7,9,7,9,9,9,9,9,15,7,8,7,9,7,7,9,7,7,7,7,7,7,9,7,8,8,8,8,9,9,9,8,7,9,10,7,9,9,9,7,8,9,8,9,7,9,8,8,10,8,9,9,8,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,28,28,83,83,83,83,13,13,13,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,20,20,20,20,20,20,20,20,20,3,3,6,6,6,6,6,6,6,6,6,6,6,4,4,6,4,4,4,4,6,6,6,6,6,6,6,6,6,6,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,6,6,6,6,6,6,6,6,6,6,6,6,14,14,14,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,74,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,74,74,74,74,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,7,7,9,15,15,9,9,7,9,9,9,7,7,7,9,7,8,9,9,9,7,9,7,11,11,15,15,7,7,7,7,9,9,9,7,7,7,7,10,10,9,7,7,7,7,7,7,9,9,9,7,9,9,7,9,8,7,9,7,7,9,7,9,7,8,9,7,9,8,9,9,9,9,9,8,9,7,9,9,9,9] 
# images
def generate_photo():
 gender=random.choice(['men','women'])  # shortened for demo, you can use full list

# Function to generate random photo link
def generate_photo():
    gender = random.choice(['men', 'women'])
    image_id = random.randint(0, 99)  # RandomUser API supports 0–99
    return f"https://randomuser.me/api/portraits/{gender}/{image_id}.jpg"

# Build dataset
data = []
for count in rows:
    for _ in range(1001):  # generate 'count' number of fake users
        data.append({
            "Name": fake.name(),
            "Email": fake.email(),
            "Phone": fake.phone_number(),
            "Photo": generate_photo()
        })

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv(r"C:\Users\sonip\OneDrive\Desktop\sql\fake_users.csv", index=False)


print("✅ fake_users.csv file created successfully with", len(df), "rows!")

pulling data from sql

In [1]:
import pandas as pd
from sqlalchemy import create_engine
username = "postgres"
password = "9810soni"
host = "localhost"
port = "5432"
database = "postgres"

# Create connection string
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
df = pd.read_sql("SELECT * from AirbnbBookings", engine)

# Show first 5 rows
print(df.head())
query = """
SELECT * from AirbnbBookings
"""
df_country = pd.read_sql(query, engine)

print(df_country.head())

   arrivaldateyear  arrivaldatedayofmonth  arrivaldateweeknumber  \
0             2015                     14                     38
1             2015                      3                     36
2             2015                     26                     39
3             2015                     16                     42
4             2015                      8                     32

  arrivaldatemonth owner assignedroomtype company  \
0        September    13                A    None
1        September    13                A    None
2        September    13                D    None
3          October    83                A    None
4           August     9                A    None

                                             country     countryname  \
0  GBR                                           ...  United Kingdom
1  ESP                                           ...           Spain
2  GRC                                           ...          Greece
3  ESP                                           ...           Spain
4  FRA                                           ...          France

  customertype  ... iscanceled isrepeatedguest leadtime previousbookingsnc  \
0     Contract  ...      False           False       17                  0
1     Contract  ...      False           False       28                  0
2     Contract  ...      False           False       65                  0
3     Contract  ...      False           False       36                  0
4     Contract  ...      False           False        1                  0

  previouscancellations requiredcarparkingspaces staysweeknights  \
0                     0                        0               2
1                     0                        0               5
2                     0                        0               2
3                     0                        0               2
4                     0                        0               1

  staysweekendnights specialrequests  reviews
0                  1               0        2
1                  2               0        4
2                  2               0        4
3                  1               0        3
4                  0               0        4

[5 rows x 35 columns]
   arrivaldateyear  arrivaldatedayofmonth  arrivaldateweeknumber  \
0             2015                     14                     38
1             2015                      3                     36
2             2015                     26                     39
3             2015                     16                     42
4             2015                      8                     32

  arrivaldatemonth owner assignedroomtype company  \
0        September    13                A    None
1        September    13                A    None
2        September    13                D    None
3          October    83                A    None
4           August     9                A    None

                                             country     countryname  \
0  GBR                                           ...  United Kingdom
1  ESP                                           ...           Spain
2  GRC                                           ...          Greece
3  ESP                                           ...           Spain
4  FRA                                           ...          France

  customertype  ... iscanceled isrepeatedguest leadtime previousbookingsnc  \
0     Contract  ...      False           False       17                  0
1     Contract  ...      False           False       28                  0
2     Contract  ...      False           False       65                  0
3     Contract  ...      False           False       36                  0
4     Contract  ...      False           False        1                  0

  previouscancellations requiredcarparkingspaces staysweeknights  \
0                     0                        0               2
1                     0                        0               5
2                     0                        0               2
3                     0                        0               2
4                     0                        0               1

  staysweekendnights specialrequests  reviews
0                  1               0        2
1                  2               0        4
2                  2               0        4
3                  1               0        3
4                  0               0        4

[5 rows x 35 columns]

In [3]:
df_country.isnull()

,arrivaldateyear,arrivaldatedayofmonth,arrivaldateweeknumber,arrivaldatemonth,owner,assignedroomtype,company,country,countryname,customertype,...,iscanceled,isrepeatedguest,leadtime,previousbookingsnc,previouscancellations,requiredcarparkingspaces,staysweeknights,staysweekendnights,specialrequests,reviews
0,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df_country.isnull().sum().sum()

1059

In [5]:
df_country.describe()

,arrivaldateyear,arrivaldatedayofmonth,arrivaldateweeknumber,amountpaid,adults,babies,children,bookingchanges,daysinwl,leadtime,previousbookingsnc,previouscancellations,requiredcarparkingspaces,staysweeknights,staysweekendnights,specialrequests
count,1000.0,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.0,1000.00000,1000.000000,1000.000000,1000.000000
mean,2015.0,15.379000,39.66800,91.023300,1.760000,0.014000,0.036000,0.207000,0.089000,45.719000,0.0,0.0,0.02900,2.193000,0.913000,0.475000
std,0.0,9.196953,4.78107,39.491385,0.478151,0.117549,0.216219,0.800495,2.814427,47.445496,0.0,0.0,0.16789,1.487267,0.925358,0.612985
min,2015.0,1.000000,28.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.000000,0.000000
25%,2015.0,7.000000,37.00000,62.000000,1.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.0,0.0,0.00000,1.000000,0.000000,0.000000
50%,2015.0,15.000000,39.00000,89.300000,2.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.0,0.0,0.00000,2.000000,1.000000,0.000000
75%,2015.0,24.000000,41.00000,107.275000,2.000000,0.000000,0.000000,0.000000,0.000000,67.000000,0.0,0.0,0.00000,3.000000,2.000000,1.000000
max,2015.0,31.000000,53.00000,212.000000,3.000000,1.000000,3.000000,20.000000,89.000000,256.000000,0.0,0.0,1.00000,20.000000,9.000000,4.000000

count of null value in a particular column

In [11]:
df_country["company"].isnull().sum()

993

rows that are not null

In [13]:
df_country[df_country["company"].notnull()]

,arrivaldateyear,arrivaldatedayofmonth,arrivaldateweeknumber,arrivaldatemonth,owner,assignedroomtype,company,country,countryname,customertype,...,iscanceled,isrepeatedguest,leadtime,previousbookingsnc,previouscancellations,requiredcarparkingspaces,staysweeknights,staysweekendnights,specialrequests,reviews
99,2015,30,40,September,None,H,318,PRT ...,Portugal,Transient,...,False,False,2,0,0,0,2,0,1,4
382,2015,10,33,August,9,D,9,PRT ...,Portugal,Contract,...,False,False,1,0,0,0,1,1,1,5
584,2015,11,33,August,None,K,49,PRT ...,Portugal,Transient-Party,...,False,False,0,0,0,0,4,0,1,2
697,2015,31,53,December,None,A,45,PRT ...,Portugal,Transient,...,False,False,0,0,0,0,1,0,0,3
698,2015,31,53,December,None,C,45,PRT ...,Portugal,Transient,...,False,False,0,0,0,0,1,0,0,1
714,2015,10,33,August,None,K,47,PRT ...,Portugal,Transient,...,False,False,0,0,0,0,20,9,0,2
728,2015,28,35,August,None,B,45,PRT ...,Portugal,Transient,...,False,False,15,0,0,0,1,0,4,4

In [ ]:
company here is the id of it

In [ ]:
# removing this col because it has the most null value

In [17]:
df_country = df_country.drop("company", axis=1)

In [19]:
df_country.shape

(1000, 34)

In [23]:
df_country.duplicated().any()  // checking duplicates

False

1.

What % of bookings are canceled?

In [27]:
df["iscanceled"].value_counts(normalize=True) * 100

iscanceled
False    98.5
True      1.5
Name: proportion, dtype: float64

2.Which customer segments cancel most often?

In [31]:
df_country[df_country["iscanceled"] != False]

,arrivaldateyear,arrivaldatedayofmonth,arrivaldateweeknumber,arrivaldatemonth,owner,assignedroomtype,country,countryname,customertype,deposittype,...,iscanceled,isrepeatedguest,leadtime,previousbookingsnc,previouscancellations,requiredcarparkingspaces,staysweeknights,staysweekendnights,specialrequests,reviews
87,2015,29,40,September,250,F,PRT ...,Portugal,Transient,No Deposit,...,True,False,13,0,0,0,5,2,0,4
89,2015,29,40,September,40,A,PRT ...,Portugal,Contract,No Deposit,...,True,False,57,0,0,0,5,2,1,5
91,2015,29,40,September,240,A,PRT ...,Portugal,Transient,No Deposit,...,True,False,76,0,0,0,6,2,1,3
93,2015,29,40,September,240,A,PRT ...,Portugal,Transient,No Deposit,...,True,False,76,0,0,0,6,2,1,1
108,2015,30,40,September,256,A,PRT ...,Portugal,Transient-Party,No Deposit,...,True,False,55,0,0,0,3,0,0,2
109,2015,30,40,September,256,A,PRT ...,Portugal,Transient-Party,No Deposit,...,True,False,2,0,0,0,3,0,0,5
111,2015,30,40,September,240,E,PRT ...,Portugal,Transient,No Deposit,...,True,False,142,0,0,0,4,2,1,3
116,2015,30,40,September,240,A,PRT ...,Portugal,Transient,No Deposit,...,True,False,68,0,0,0,5,2,0,5
121,2015,30,40,September,240,A,PRT ...,Portugal,Transient,No Deposit,...,True,False,70,0,0,0,5,2,0,1
124,2015,1,40,October,240,E,PRT ...,Portugal,Transient,No Deposit,...,True,False,63,0,0,0,2,0,2,5
138,2015,1,40,October,240,A,PRT ...,Portugal,Transient,No Deposit,...,True,False,24,0,0,0,5,2,0,4
145,2015,1,40,October,240,A,PRT ...,Portugal,Transient,No Deposit,...,True,False,103,0,0,0,5,2,0,1
151,2015,2,40,October,250,G,PRT ...,Portugal,Transient,No Deposit,...,True,False,29,0,0,0,2,1,0,4
152,2015,2,40,October,240,G,PRT ...,Portugal,Transient,No Deposit,...,True,False,115,0,0,0,2,2,0,3
162,2015,2,40,October,171,A,PRT ...,Portugal,Transient,No Deposit,...,True,False,23,0,0,0,5,2,0,3

3.Do cancellations depend on lead time (booked far in advance vs last minute)?

In [35]:
df["lead_bin"] = pd.cut(df["leadtime"], bins=[0, 7, 30, 90, 180, 365, 730], 
                        labels=["0-7 days","8-30","31-90","91-180","181-365","366+"])

cancel_rate = df.groupby("lead_bin")["iscanceled"].mean() * 100
print(cancel_rate)

lead_bin
0-7 days    0.662252
8-30        1.574803
31-90       1.678657
91-180      3.529412
181-365     0.000000
366+             NaN
Name: iscanceled, dtype: float64

C:\Users\sonip\AppData\Local\Temp\ipykernel_7276\863173392.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cancel_rate = df.groupby("lead_bin")["iscanceled"].mean() * 100

we cant say this that the cancellation depends on the lead time there can be other factorss aswell,

4.Which countries contribute the most guests & revenue?

In [3]:
import psycopg2

conn = psycopg2.connect(
    database="postgres",
    user="postgres",
    password="9810soni",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

In [6]:
query="""SELECT country, COUNT(*) AS total_guests
FROM AirbnbBookings
GROUP BY country
ORDER BY total_guests desc
;
"""


cur.execute(query)
data = cur.fetchall()
data

[('PRT                                                                                                 ',
  324),
 ('ESP                                                                                                 ',
  182),
 ('FRA                                                                                                 ',
  110),
 ('GBR                                                                                                 ',
  65),
 ('DEU                                                                                                 ',
  37),
 ('ITA                                                                                                 ',
  36),
 ('IRL                                                                                                 ',
  24),
 ('NLD                                                                                                 ',
  23),
 ('BEL                                                                                                 ',
  22),
 ('CHN                                                                                                 ',
  22),
 ('USA                                                                                                 ',
  21),
 ('SWE                                                                                                 ',
  16),
 ('CHE                                                                                                 ',
  13),
 ('BRA                                                                                                 ',
  12),
 ('IRN                                                                                                 ',
  8),
 ('POL                                                                                                 ',
  8),
 ('DNK                                                                                                 ',
  6),
 ('JPN                                                                                                 ',
  6),
 ('FIN                                                                                                 ',
  6),
 ('AGO                                                                                                 ',
  4),
 ('ISR                                                                                                 ',
  4),
 ('HUN                                                                                                 ',
  3),
 ('LUX                                                                                                 ',
  3),
 ('RUS                                                                                                 ',
  3),
 ('NOR                                                                                                 ',
  3),
 ('AUS                                                                                                 ',
  3),
 ('AUT                                                                                                 ',
  3),
 ('MAR                                                                                                 ',
  2),
 ('SVN                                                                                                 ',
  2),
 ('IRQ                                                                                                 ',
  2),
 ('DZA                                                                                                 ',
  2),
 ('ARG                                                                                                 ',
  2),
 ('LVA                                                                                                 ',
  2),
 ('BLR                                                                                                 ',
  2),
 ('TUR                                                                                                 ',
  2),
 ('ROU                                                                                                 ',
  2),
 ('GRC                                                                                                 ',
  2),
 ('CMR                                                                                                 ',
  2),
 ('EGY                                                                                                 ',
  1),
 ('HRV                                                                                                 ',
  1),
 ('CZE                                                                                                 ',
  1),
 ('LBN                                                                                                 ',
  1),
 ('SRB                                                                                                 ',
  1),
 ('MEX                                                                                                 ',
  1),
 ('ETH                                                                                                 ',
  1),
 ('LTU                                                                                                 ',
  1),
 ('UKR                                                                                                 ',
  1),
 ('IND                                                                                                 ',
  1),
 ('COL                                                                                                 ',
  1)]

6.Are families, couples, or solo travelers the main audience?

Seasonality & Demand Forecasting

7.Which months have highest cancellations?

In [35]:
query=""" SELECT arrivaldatemonth AS month,
       iscanceled,
       COUNT(*) AS total_canceled
FROM AirbnbBookings
GROUP BY arrivaldatemonth, iscanceled
ORDER BY month ; """

cur.execute(query)
data = cur.fetchall()
data

[('August', False, 151),
 ('December', False, 66),
 ('July', False, 9),
 ('November', False, 88),
 ('October', False, 203),
 ('October', True, 6),
 ('September', True, 9),
 ('September', False, 468)]


8.Do weekends show higher occupancy than weekdays

In [18]:
query=""" SELECT staysweeknights,
       COUNT(*) AS occupancy_on_week,
       staysweekendnights,
       COUNT(*) AS occupancy_on_weekend
FROM AirbnbBookings
GROUP BY staysweeknights, staysweekendnights;"""
cur.execute(query)
data=cur.fetchall()
data= pd.DataFrame(data, columns=["staysweeknights", 
                                 "occupancy_on_week", 
                                 "staysweekendnights", 
                                 "occupancy_on_weekend"])

In [14]:
import pandas as pd

9.What is the average amount paid per customer segment?

In [29]:
query=""" SELECT customertype,
       SUM(amountpaid) AS total_amount_paid
FROM AirbnbBookings
GROUP BY customertype
ORDER BY total_amount_paid DESC;"""
cur.execute(query)
data=cur.fetchall()
data

[('Transient-Party', Decimal('36355.90')),
 ('Transient', Decimal('27382.70')),
 ('Contract', Decimal('27284.70'))]

10.

Which room types generate the most revenue?

In [31]:
query=""" select reservedroomtype,
    SUM(amountpaid) as revenue
from AirbnbBookings
group by reservedroomtype
order by revenue desc """
cur.execute(query)
data=cur.fetchall()
data

[('A', Decimal('82587.10')),
 ('D', Decimal('3998.10')),
 ('E', Decimal('1473.60')),
 ('B', Decimal('1311.50')),
 ('F', Decimal('1233.90')),
 ('G', Decimal('419.10')),
 ('C', Decimal('0.00'))]

11.Is revenue affected by booking changes, waiting list days, or special requests?

In [40]:
query="""SELECT bookingchanges,
       AVG(amountpaid) AS avg_revenue,
       SUM(amountpaid) AS total_revenue,
       COUNT(*) AS total_bookings
FROM AirbnbBookings
GROUP BY bookingchanges
ORDER BY bookingchanges;"""
cur.execute(query)
data=cur.fetchall()
data= pd.DataFrame(data, columns=["bookingchanges", 
                                 "avg_revenue", 
                                 "total_revenue", 
                                 "total_bookings"])

12How far in advance do customers book (LeadTime)?

In [5]:
query="""select leadtime
from AirbnbBookings
group by leadtime"""
cur.execute(query)
data=cur.fetchall()
data

[(71,),
 (68,),
 (51,),
 (52,),
 (70,),
 (190,),
 (162,),
 (192,),
 (92,),
 (69,),
 (115,),
 (60,),
 (97,),
 (22,),
 (156,),
 (59,),
 (135,),
 (65,),
 (124,),
 (200,),
 (73,),
 (103,),
 (44,),
 (11,),
 (42,),
 (121,),
 (82,),
 (125,),
 (113,),
 (40,),
 (43,),
 (9,),
 (15,),
 (79,),
 (48,),
 (26,),
 (85,),
 (72,),
 (57,),
 (61,),
 (81,),
 (19,),
 (77,),
 (172,),
 (30,),
 (21,),
 (3,),
 (17,),
 (37,),
 (28,),
 (242,),
 (204,),
 (5,),
 (165,),
 (56,),
 (74,),
 (54,),
 (29,),
 (4,),
 (34,),
 (0,),
 (96,),
 (83,),
 (67,),
 (63,),
 (90,),
 (10,),
 (35,),
 (45,),
 (107,),
 (6,),
 (86,),
 (39,),
 (168,),
 (93,),
 (36,),
 (31,),
 (50,),
 (102,),
 (14,),
 (158,),
 (13,),
 (195,),
 (111,),
 (2,),
 (16,),
 (62,),
 (75,),
 (142,),
 (41,),
 (46,),
 (32,),
 (53,),
 (7,),
 (183,),
 (100,),
 (38,),
 (193,),
 (12,),
 (78,),
 (24,),
 (191,),
 (25,),
 (122,),
 (141,),
 (94,),
 (49,),
 (47,),
 (256,),
 (20,),
 (33,),
 (1,),
 (76,),
 (18,),
 (145,),
 (55,),
 (27,),
 (23,),
 (58,),
 (8,)]

13.
How many customers are repeated guests?

In [42]:
query="""select count(*) isrepeatedcustomer
from AirbnbBookings"""
cur.execute(query)
data=cur.fetchall()
data

[(1000,)]

13.What % of guests require parking or special requests?

In [7]:
query="""SELECT 
    (COUNT(CASE 
              WHEN requiredcarparkingspaces > 0 OR specialrequests > 0 
              THEN 1 
           END) * 100.0 / COUNT(*)) AS percentage_guests_with_parking_or_requests
FROM AirbnbBookings;"""
cur.execute(query)
data=cur.fetchall()
data

[(Decimal('42.8000000000000000'),)]



14.Which room types are overbooked/underbooked?

In [15]:
query="""SELECT reservedroomtype, COUNT(*) AS total_reservations
FROM AirbnbBookings
GROUP BY reservedroomtype
order by total_reservations desc;"""
cur.execute(query)
data=cur.fetchall()
data=pd.DataFrame(data,columns=["reservedroomtype","total_reservations"])

In [28]:
conn.rollback()